# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Sphinx documentation
#docs/_build/

# Particular to amakihi
CADC_LOGIN.md
loop_imdiff*
CNN_model_utils.py


# token for working on repo
TOKEN
