# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Sphinx documentation
#docs/_build/

# Particular to amakihi
CADC_LOGIN.md
loop_imdiff*

# Bandaid fix because ReadTheDocs can't find lmxl
#query_CFIS.py
